html, body {
  height: 100%;
}

body {
  background: $blue;
  color: #fff;

  @include respond-to(tablet) {
    overflow: auto;
  }

  * {
    box-sizing: border-box;
  }
}

.left {
  @extend .text-small;
  border-right: solid 1px $blue--light;
  height: 100%;
  position: fixed;
  top: 0;
  width: 70px;
  z-index: 1;

  @include respond-to(tablet) {
    border-top: solid 1px $blue--light;
    border-right: none;
    height: 70px;
    position: relative;
    width: 100%;
  }

  .left__top {
    font-weight: $fw-bold;
    left: 30px;
    position: absolute;
    text-align: right;
    top: 100px;
    transform: rotate(-90deg);
    transform-origin: 0 0;

    @include respond-to(tablet) {
      transform: rotate(0deg);
      top: 30px;
    }

    @include respond-to(smartphone) {
      left: 0;
      position: relative;
      text-align: center;
      top: 27px;
      width: 100%;
    }
  }

  .left__bottom {
    bottom: 15px;
    left: 30px;
    position: absolute;
    text-align: right;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    white-space: nowrap;

    @include respond-to(tablet) {
      transform: rotate(0deg);
      top: 30px;
      right: 30px;
    }

    @include respond-to(smartphone) {
      left: 0;
      position: relative;
      text-align: center;
      top: 20px;
      width: 100%;
    }

    a {
      @extend .text-link;
    }
  }
}

.wrapper {
  height: 100%;
  min-height: 600px;
  overflow: hidden;
  padding: 0 14%;
  position: relative;
  top: 0;
  width: 100%;

  @include respond-to(tablet) {
    height: auto;
    padding: 0 7%;
    overflow: hidden;
  }
}

header {
  margin: 58px 0;
  position: absolute;
  top: 0;
  width: 72%;

  @include respond-to(tablet) {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .header__logo {
    background: url(../images/logo.svg) center center no-repeat;
    background-size: contain;
    float: left;
    height: 42px;
    width: 34px;

    @include respond-to(smartphone) {
      float: none;
      margin: 0 auto;
    }
  }

  .header__social {
    float: right;
    margin: 15px 0 0;

    @include respond-to(smartphone) {
      display: none;
    }

    p {
      @extend .text-small;
      float: left;
      font-weight: bold;
      margin: 0 20px 0 0;
    }

    .header__social--twitter,
    .header__social--facebook {
      float: left;
      height: 24px;
    }

    .header__social--twitter {
      margin: -5px 15px 0 0;
    }

    .header__social--facebook {
      margin: -7px 0 0;
    }
  }
}

.content {
  float: left;
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  width: 600px;

  @include respond-to(tablet) {
    float: none;
    margin: 15% auto 0;
    position: relative;
    text-align: center;
    top: 0;
    transform: translate3d(0, 0, 0);
    width: 100%;
  }

  .is-chrome-only {
    display: none;
  }

  html.is-chrome & {
    p.is-chrome-only {
      display: block;
    }

    a.is-chrome-only {
      display: inline-block;
    }

    .is-not-chrome {
      display: none;
    }
  }

  p {
    max-width: 450px;

    @include respond-to(tablet) {
      margin: 0 auto;
    }
  }
}

.demo {
  background: url(../images/browser-shadow.png) 0 96% no-repeat;
  background-size: 100% auto;
  float: left;
  height: 80%;
  margin: 10% 0 0 600px;
  position: relative;

  @include respond-to(tablet) {
    background: url(../images/browser-mobile.png) center left no-repeat;
    background-size: contain;
    height: 60vw;
    margin: 10% auto;
    width: 100%;
  }

  video {
    border-radius: 8.5% / 6.3%;
    height: 100%;
    left: 0;
    padding: 4.5vh 11.3vh;
    position: relative;
    top: 0;

    @include respond-to(tablet) {
      display: none;
      height: auto;
      padding: 8vw 7vw;
      width: 100%;
    }
  }
}