/**
 * SASS Mixins
 */


@mixin respond-to($point) {
  @if $point == desktop {
    @media only screen and (min-width: 1280px) {
      @content;
    }
  }
  @else if $point == tablet {
    @media only screen and (max-width: 1279px) {
      @content;
    }
  }
  @else if $point == smartphone {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }
}

@mixin center($direction) {
  @if $direction == x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  @else if $direction == y {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  @else if $direction == xy {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
