@articleWidth: 260px;
@articleHeight: 340px;
@articleMargin: 32px;
@numArticles: 4;

.Articles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

.Article {
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-name: appear;
  flex: 0 0 @articleWidth;
  margin: 0 0 @articleMargin @articleMargin;
  opacity: 0;
  position: relative;
  height: @articleHeight;

  &-content {
    padding: 1rem;
  }

  &-title {
    color: white;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 100;
    line-height: 1;
    padding: 2rem;
    position: absolute;
    top: 0;
  }

  &-image {
    background-position: 50% 0%;
    background-size: 105%;
    position: absolute;
    transition: background 0.2s;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &-image:after {
    background-color: rgba(0, 0, 0, 50%);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  @linkDegree: 45deg;
  @linkHeight: 16px;
  @linkPadding: 6px;
  @linkOpositeSide: ceil((tan(@linkDegree) * @linkHeight - @linkPadding));
  @linkAdjacentSide: ceil((cos(@linkDegree) * @linkHeight));
  @linkDelay: .2s;
  @linkSpeedRatio: (@linkHeight / 42px); // Usual height of footer...magic.

  &-footer {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
  }

  &-footerLink {
    overflow: hidden;
    position: relative;
  }

  &-footerText {
    color: #fff;
    font-weight: 600;
    margin: 0 2rem;
    position: relative;
    padding: 1rem 0;
    transition: .2s color;
    z-index: 1;
  }

  &:hover &-footerText {
    color: #319FEB;
    transition: .2s color (7.5 * @linkDelay / 5);
  }

  &-footerBorderRight,
  &-footerBorderLeft {
    background: #fff;
    backface-visibility: hidden;
    height: 1px;
    left: 32px;
    position: absolute;
    transition: transform @linkDelay;
    transform: translate3d(0, 0, 0);
    top: 0;
    right: calc(50% - 4px);

    &::before {
      background: #fff;
      content: '';
      height: 1px;
      position: absolute;
      top: 0;
      transition: transform .8s;
      transform: translateZ(0);
      width: 32px;
    }

    &::after {
      background-color: #fff;
      content: '';
      height: @linkHeight;
      position: absolute;
      top: 0;
      transition: transform @linkDelay;
      transform-origin: 0 0;
      width: 1px;
    }
  }

  &-footerBorderLeft::after {
    left: 100%;
    margin-left: -1px;
    transform: translate3d(-@linkAdjacentSide, -@linkAdjacentSide, 0) rotateZ(-@linkDegree);
  }

  &-footerBorderRight::after {
    height: (@linkHeight - 2px);
    margin-right: -1px;
    right: 100%;
    transform: translate3d(@linkAdjacentSide, -@linkAdjacentSide, 0) rotateZ(@linkDegree);
  }

  &-footerBorderRight {
    right: 32px;
    left: 50%;

    &::before {
      right: 0;
    }
  }

  &:hover &-footerBorderLeft {
    transform: translate3d(-@linkAdjacentSide, 0, 0);
  }

  &:hover &-footerBorderRight {
    transform: translate3d(@linkAdjacentSide, 0, 0);
  }

  &:hover &-footerBorderLeft::before {
    transform: translate3d((@linkAdjacentSide - 32px), 0, 0);
  }

  &:hover &-footerBorderRight::before {
    transform: translate3d((32px - @linkAdjacentSide), 0, 0);
  }

  &:hover &-footerBorderLeft::after {
    transform: translate3d(0, 0, 0) rotateZ(-@linkDegree);
  }

  &:hover &-footerBorderRight::after {
    transform: translate3d(0, 0, 0) rotateZ(@linkDegree);
  }

  &-background {
    background: #fff;
    bottom: 0;
    position: absolute;
    top: @linkOpositeSide;
    transition: transform @linkDelay linear;
    transform: translate3d(0, 100%, 0);
    width: 100%;
  }

  &:hover &-background {
    transform: translate3d(0, 0, 0);
    transition: @linkDelay transform @linkDelay linear;
  }

  &-background::before,
  &-background::after {
    background: #fff;
    bottom: 100%;
    content: '';
    height: @linkOpositeSide;
    position: absolute;
    transition: (@linkSpeedRatio * @linkDelay) transform linear;
    width: calc(50% + (@linkAdjacentSide));
  }

  &-background::before {
    left: -@linkAdjacentSide;
    transform-origin: 100% 0;
    transform: translate3d(0, 100%, 0) skewX(@linkDegree);

  }

  &-background::after {
    right: -@linkAdjacentSide;
    transform-origin: 0 0;
    transform: translate3d(0, 100%, 0) skewX(-@linkDegree);
  }

  &:hover &-background::before {
    transition: (@linkSpeedRatio * @linkDelay) transform (2 * @linkDelay) linear;
    transform: translate3d((@linkPadding - @linkAdjacentSide - 1px), 0, 0) skewX(@linkDegree);
  }

  &:hover &-background::after {
    transition: (@linkSpeedRatio * @linkDelay) transform (2 * @linkDelay) linear;
    transform: translate3d(@linkAdjacentSide, 0, 0) skewX(-@linkDegree);
  }
}

.Article:nth-of-type(1) {
  animation-delay: 0.1s;
}

.Article:nth-of-type(2) {
  animation-delay: 0.2s;
}

.Article:nth-of-type(3) {
  animation-delay: 0.3s;
}

.Article:nth-of-type(4) {
  animation-delay: 0.4s;
}

.Article:last-of-type {
  margin-right: @articleMargin;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
