.Articles {
  align-items: center;
  display: flex;
  flex: 1;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
}

.Article {
  height: 340px;
  margin: 0 2rem 2rem 0;
  position: relative;
  width: 260px;
  overflow: hidden;
  opacity: 0;

  &-content {
    padding: 1rem;
  }

  &-title {
    color: white;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 100;
    line-height: 1;
    padding: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &-image {
    background-position: 50% 50%;
    background-size: cover;
    height: 100%;
    position: relative;
    width: 100%;
  }

  &-image:after {
    background-color: rgba(0, 0, 0, 50%);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &-link {
    border-top: 1px solid white;
    bottom: 0;
    color: white;
    font-weight: 500;
    left: 0;
    margin: 0 2rem;
    padding: 1rem 0;
    position: absolute;
    right: 0;
  }

  &:hover &-link {
    background-color: white;
    border: none;
    color: #319FEB;
    margin: 0;
    padding: 0 0 .5rem 0;
    text-indent: 2rem;
    line-height: 2.8;
    width: 100%;
    background-color: white;
  }

  &-link:before, &-link:after {
    content:'';
    position: absolute;
    bottom: 100%;
    width: 50%;
    padding-bottom:inherit;
    background-color: inherit;
    pointer-events: none;
  }

  &-link:before {
    right: 50%;
    transform-origin: 100% 100%;
    transform: skewX(45deg);
  }

  &-link:after {
    left: 50%;
    transform-origin: 0 100%;
    transform: skewX(-45deg);
  }

}

.Article {
  animation-duration: .5s;
  animation-name: appear;
  animation-fill-mode: forwards;
}

.Article:nth-of-type(1) {
  animation-delay: 0.1s;
}

.Article:nth-of-type(2) {
  animation-delay: 0.2s;
}

.Article:nth-of-type(3) {
  animation-delay: 0.3s;
}

.Article:nth-of-type(4) {
  animation-delay: 0.4s;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


