@width-Article: 260px;
@height-Article: 340px;
@margin-Article: 32px;
@degree-Article: 45deg;
@hyp-Article: 16px;
@linkPadding: 6px;
@opp-Article: ceil((tan(@degree-Article) * @hyp-Article - @linkPadding));
@adj-Article: ceil((cos(@degree-Article) * @hyp-Article));
@delay-Article: .15s;
@speedRatio-Article: (@hyp-Article / 42px); // Usual height of footer...magic.
@shuffleSpeed: .9s;

.Articles {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.Article {
  background: #000;
  flex: 0 0 @width-Article;
  margin: 0 0 @margin-Article @margin-Article;
  overflow: hidden;
  position: relative;
  height: @height-Article;

  &:last-of-type {
    margin-right: @margin-Article;
  }

  &-title {
    color: #fff;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 100;
    line-height: 1;
    padding: 2rem;
    position: absolute;
    top: 0;
  }

  &-image {
    background-position: 50% 0%;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    &:after {
      background-color: rgba(0, 0, 0, 50%);
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &-next {
    opacity: 0;
    visibility: hidden;
  }

  &-footer {
    bottom: -1px; // Fix for weird safari rendering bug...
    left: 0;
    position: absolute;
    right: 0;
  }

  &-footerLink {
    overflow: hidden;
    position: relative;
  }

  &-footerText {
    color: #fff;
    font-weight: 600;
    margin: 0 2rem;
    padding: 1rem 0;
    position: relative;
    transition: .2s color;
    z-index: 1;
  }

  &-footerBorderRight,
  &-footerBorderLeft {
    background: #fff;
    backface-visibility: hidden;
    height: 1px;
    left: 32px;
    position: absolute;
    transition: transform @delay-Article;
    transform: translate3d(0, 0, 0);
    top: 0;
    right: calc(50% - 4px);

    &::before {
      background: #fff;
      content: '';
      height: 1px;
      position: absolute;
      top: 0;
      transition: transform .8s;
      transform: translateZ(0);
      width: 32px;
    }

    &::after {
      background-color: #fff;
      content: '';
      height: @hyp-Article;
      position: absolute;
      top: 0;
      transition: transform @delay-Article;
      transform-origin: 0 0;
      width: 1px;
    }
  }

  &-footerBorderLeft::after {
    left: 100%;
    margin-left: -1px;
    transform: translate3d(-@adj-Article, -@adj-Article, 0) rotateZ(-@degree-Article);
  }

  &-footerBorderRight::after {
    height: (@hyp-Article - 2px);
    margin-right: -1px;
    right: 100%;
    transform: translate3d(@adj-Article, -@adj-Article, 0) rotateZ(@degree-Article);
  }

  &-footerBorderRight {
    right: 32px;
    left: 50%;

    &::before {
      right: 0;
    }
  }

  &-background {
    background: #fff;
    bottom: 0;
    position: absolute;
    top: @opp-Article;
    transition: @delay-Article transform (@speedRatio-Article * @delay-Article) linear;
    transform: translate3d(0, 100%, 0);
    width: 100%;
  }

  &-background::before,
  &-background::after {
    background: #fff;
    bottom: 100%;
    content: '';
    height: @opp-Article;
    position: absolute;
    transition: (@speedRatio-Article * @delay-Article) transform linear;
    width: calc(50% + (@adj-Article));
  }

  &-background::before {
    left: -@adj-Article;
    transform-origin: 100% 0;
    transform: translate3d(0, 100%, 0) skewX(@degree-Article);

  }

  &-background::after {
    right: -@adj-Article;
    transform-origin: 0 0;
    transform: translate3d(0, 100%, 0) skewX(-@degree-Article);
  }
}

/**
 * Triggers
 * Hover, Focus, Active, etc.
 */
.Article:hover  {
  // Text
  .Article-footerText {
    color: #319FEB;
    transition: .2s color (7.5 * @delay-Article / 5);
  }

  // Border + Arrow
  .Article-footerBorderLeft {
    transform: translate3d(-@adj-Article, 0, 0);
  }

  .Article-footerBorderRight {
    transform: translate3d(@adj-Article, 0, 0);
  }

  .Article-footerBorderLeft::before {
    transform: translate3d((@adj-Article - 32px), 0, 0);
  }

  .Article-footerBorderRight::before {
    transform: translate3d((32px - @adj-Article), 0, 0);
  }

  .Article-footerBorderLeft::after {
    transform: translate3d(0, 0, 0) rotateZ(-@degree-Article);
  }

  .Article-footerBorderRight::after {
    transform: translate3d(0, 0, 0) rotateZ(@degree-Article);
  }

  // Background
  .Article-background {
    transform: translate3d(0, 0, 0);
    transition: @delay-Article transform @delay-Article linear;
  }

  .Article-background::before {
    transition: (@speedRatio-Article * @delay-Article) transform (2 * @delay-Article) linear;
    transform: translate3d((@linkPadding - @adj-Article - 1px), 0, 0) skewX(@degree-Article);
  }

  .Article-background::after {
    transition: (@speedRatio-Article * @delay-Article) transform (2 * @delay-Article) linear;
    transform: translate3d(@adj-Article, 0, 0) skewX(-@degree-Article);
  }
}

/**
 * Animations
 */
.Article.is-entering {
  opacity: 0;

  .is-loaded & {
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-name: appear-Article;
  }

  &:nth-of-type(2) { animation-delay: .1s; }
  &:nth-of-type(3) { animation-delay: .2s; }
  &:nth-of-type(4) { animation-delay: .3s; }
}

.Article.is-swapping {
  .Article-current {
    opacity: 0;
    transition: (@shuffleSpeed / 2) opacity 0s;
  }

  &:nth-of-type(2) .Article-title,
  &:nth-of-type(2) .Article-footer,
  &:nth-of-type(2) .Article-current {
    transition-delay: .1s;
  }

  &:nth-of-type(3) .Article-title,
  &:nth-of-type(3) .Article-footer,
  &:nth-of-type(3) .Article-current {
    transition-delay: .2s;
  }

  &:nth-of-type(4) .Article-title,
  &:nth-of-type(4) .Article-footer,
  &:nth-of-type(4) .Article-current {
    transition-delay: .3s;
  }
}

.Article.is-doneSwapping {
  .Article-current {
    opacity: 1;    
    transition: (@shuffleSpeed / 2) opacity 0s;
  }

  .Article-title,
  .Article-footer {
    transition: (@shuffleSpeed / 2) transform 0s;
  }

  .Article-title {
    margin-top: -50px;
    transform: translate3d(0, 50px, 0);
  }

  .Article-footer {
    margin-bottom: -50px;
    transform: translate3d(0, -50px, 0);
  }
}

@keyframes appear-Article {
  0% {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
