footer {
  margin-bottom: 40px;
}

.Logo {
  background-image: url(img/wordmark.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  height: 36px;
  width: 100%;
}
