footer {
  margin-bottom: 50px;
}

.Logo {
  background-image: url(img/logo.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  height: 50px;
  width: 100%;
}
