@paddingBottom-Footer: 34px;

.Footer {
  padding: @paddingBottom-Footer 0;
  position: relative;

  &-logo {
    background-image: url(img/wordmark.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    height: 36px;
    transform: translateZ(0);
    transition: .3s transform;
    width: 100%;
  }

  &-attribution {
    color: #8B898A;
    text-align: center;
    margin: 0;

    @media @fullscreen {
      bottom: 0;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      transform: translateZ(0);
      transition+: .3s transform;
      transition+: .3s opacity;
    }
  }

  &-attribution a {
    color: #309CD7;
  }
}

.Footer:hover {
  @media @fullscreen {
    .Footer-logo {
      transform: translate3d(0, (-@paddingBottom-Footer / 2), 0);
    }

    .Footer-attribution {
      opacity: 1;
      transition+: .3s transform .1s;
      transition+: .3s opacity .1s;
      transform: translate3d(0, (-@paddingBottom-Footer / 2 - 3px), 0);
    }
  }
}
