.Loader {
  background-image: url(img/arrow.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  height: 30px;
  margin-top: 55px;
  width: 100%;
  transition: transform .3s;
}

.Loader:hover {
  transform: rotate(360deg);
  transition: transform .5s;
}

.is-loading {
  animation: spin 1s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
