.Loader {
  bottom: calc((100vh - 340px) / 4);
  cursor: pointer;
  height: 32px;
  left: 50%;
  margin: 0 auto;
  opacity: 1;
  padding: 32px 0;
  position: absolute;
  transform: translate3d(-50%, 50%, 0);
  transition: opacity .3s;
  width: 100px;

  @media @fullscreen and (max-width: @fullWidth-3-Articles) and (max-height: 500px) {
    bottom: 70px;
  }

  body.is-loaded & {
    opacity: 0;
  }

  body.is-shuffling & {
    opacity: 1;
  }
}

.Loader:before {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(img/arrow.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 28px 28px;
  margin: 0 auto;
}

.Loader:after {
  color: #8B898A;
  content: "loading";
  font-size: 12px;
  font-weight: 100;
  left: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 67px;
  transition: opacity .3s;
}

.Loader:hover {
  transition: opacity .3s;
}

.is-loading:before {
  animation: spin 1s infinite;
}

.is-shuffling:after {
  content: "shuffling";
}

.LoadStagger {
  opacity: 0;
  transition: .5s .75s opacity;

  .is-loaded & {
    opacity: 1;
  }

  &--mobile {
    @media @fullscreen {
      opacity: 1;
    }
  }

  &--2 {
    transition-delay: 1s;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
