@import (inline) "node_modules/normalize.css/normalize.css";

@import "article";
@import "footer";

html, body {
  height: 100%;
}

body {
  box-sizing: border-box;
  background-color: #F6F4F5;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}
