doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // SEO
    meta(name="description", content="A Chrome extension bringing a curated list of inspiring websites straight to your browser.")

    // Social: Twitter
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:site", content="@newwwness")
    meta(name="twitter:title", content="Newwwness")
    meta(name="twitter:description", content="A Chrome extension bringing a curated list of inspiring websites straight to your browser.")
    meta(name="twitter:image:src", content="http://www.newwwness.co/share.png")

    // Social: Facebook / Open Graph
    meta(property="og:url", content="http://www.newwwness.co")
    meta(property="og:title", content="Newwwness")
    meta(property="og:image", content="http://www.newwwness.co/share.png")
    meta(property="og:description", content="A Chrome extension bringing a curated list of inspiring websites straight to your browser.")
    meta(property="og:site_name", content="Newwwness")

    title Newwwness
    link(rel='icon', href='img/favicon.ico')
    link(rel='stylesheet', href='css/main.css')
  body(data-extension=extension)
    #loader.Loader.is-loading

    main
      #articles.Articles

    footer.Footer
      .Footer-logo
      p.Footer-attribution Made with love by <a href="https://twitter.com/upperquad">@upperquad</a> and <a href="https://aranja.com/">@aranja</a>.

    script(src="https://use.typekit.net/zde5igb.js")

    if prod
      script(src="js/bundle.js")
    else
      script(src="jspm_packages/system.js")
      script(src="js/config.js")
      script.
        System.import('js/app')
