doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Newwwness
    link(rel='icon', href='img/favicon.ico')
    link(rel='stylesheet', href='css/main.css')
  body
    #loader.Loader.is-loading

    main
      #articles.Articles

    footer.Footer
      .Footer-logo
      p.Footer-attribution Great content straight to your browsers from <a href="http://upperquad.com/">@upperquad</a> and <a href="http://aranja.com/">@aranja</a>.

    script(src="https://use.typekit.net/zde5igb.js")

    if prod
      script(src="js/bundle.js")
    else
      script(src="jspm_packages/system.js")
      script(src="js/config.js")
      script.
        System.import('js/app')
