a.Article.is-entering(href=post.link.url target=(extension ? false : "_blank"))
  .Article-next
  .Article-current
    .Article-image(style="background: url(#{post.image});")
    .Article-title= post.title
    .Article-footer
      .Article-footerLink
        .Article-footerBorderLeft
        .Article-footerBorderRight
        .Article-footerText= post.link.text
        .Article-background
