each article in results
  - linkText = article.link.split('//')[1].split('/')[0].replace('www.', '')
  a.Article.Article--entrance(href=article.link target="_blank")
    .Article-image(style="background-image: url(#{article.image})")
    .Article-title= article.title
    .Article-footer
      .Article-footerLink
        .Article-footerBorderLeft
        .Article-footerBorderRight
        .Article-footerText= linkText
        .Article-background
